{% extends './layout.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block body %}

{% block header %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DeJaVu GaMeS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <a href="/login" class="btn btn-outline-success me-3">
                <i class="bi bi-person-circle"></i>
            </a>
            <form class="d-flex" role="search" method="GET" action="/">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{ query }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% endblock %}

{% block main %}
<main class="form-signin text-center">
    <form method="POST" action="{{ url_for('videojuegos.create') }}">

        <img class="mb-4" src="{{ url_for('static', filename='images/pngegg.png') }}" alt="" width="72" height="57">

        <!-- Código para mostrar los mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <br />
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <div class="alert alert-info" role="alert" id="redirect-message" style="display: none;">
                    Redirigiendo a inicio de sesión...
                </div>
        
                <script>

                    document.getElementById('redirect-message').style.display = 'block';
                    // Redirige a la página de inicio de sesión después de 3 segundos
                    setTimeout(function() {
                        window.location.href = "{{ url_for('videojuegos.login') }}";
                    }, 3000);
                </script>
            {% endif %}
        {% endwith %}

        <h1 class="h3 mb-3 fw-normal">Resistro de usuario</h1>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nomusuario" name="nomusuario" placeholder="Nombre de Usuario" required>
            <label for="nomusuario">Nombre de Usuario</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI" required>
            <label for="dni">DNI</label>
        </div>
        
        
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electrónico" required>
            <label for="email">Correo Electrónico</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
            <label for="password">Contraseña</label>
        </div>

        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>
{% endblock %}

{% endblock %}